<div class="login-page">
<mat-card>
  <mat-card-title class="card-title">Zava Rewards App</mat-card-title>
  <mat-card-content>
    <div class="logo-container">
      <img   src="../assets/logo.svg" class="logo" />
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-group">

          <mat-form-field appearance="fill">
            <mat-label>Select a user</mat-label>
            <mat-select [(value)]="selectedUser" (selectionChange)="onSelectionChangeUser($event)">
              <mat-option value="kim.lambert">Kim Lambert</mat-option>
              <mat-option value="charlotte.nguyen">Charlotte Nguyen</mat-option>
              <mat-option value="miguel.garcia">Miguel Garcia</mat-option>
              <mat-option value="krystal.mckinney">Krystal McKinney</mat-option>
              <mat-option value="tim.de.boer">Tim De Boer</mat-option>
            </mat-select>
          </mat-form-field>

      </div>

      <div class="input-group">
        <mat-form-field appearance="fill">
          <mat-label>Select a program</mat-label>
          <mat-select [(value)]="selectedCompany" (selectionChange)="onSelectionChangeCompany($event)">
            <mat-option value="Zava Personal">Zava Personal</mat-option>
            <mat-option value="Zava Business">Zava Business</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-button>  Login</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
</div>
